<div>
  <img src="<%- randomBeer.image_url %> " alt="random-beer" />
  <div>
    <h3><%- randomBeer.name %></h3>
    <h4><%- randomBeer.tagline %></h4>
    <p><%- randomBeer.description %></p>
    <h4>Food Pairings</h4>
    <ul>
      <% randomBeer.food_pairing.forEach(food => { %>
      <li><%- food %></li>
      <% }) %>
    </ul>
    <p><strong>Brewers Tips: </strong><%- randomBeer.brewers_tips %></p>
  </div>
</div>
